#Home {
  color: red;
}
#logo {
  width: 55px;
  margin-left: 25px;
}

#signupbtn {
  margin-left: 10px;
  margin-right: 10px;
}
#signupbtn,
#signbtn {
  background-color: #f35027;
  border-radius: 50px;
  border: none;
  width: 120px;
  height: 50px;
}

#btntxt {
  font-size: 20px;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  color: white;
}

.nav-link {
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  color: white;
  margin-left: 30px;
}
